<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
<body>
        <header>
                <div class="header-logo">
                    <a href="/">
                            <img src="{{ url_for('static', filename='mathhelp.png') }}" width = "300" height = "100">
                    </a>
                </div>

                 <div class="header-nav">
                        <ul>
                                <li class="active"><a href="/add/">Addition</a></li>
                                <li class="active"><a href="/subract/">Subtraction</a></li>
                                <li class="active"><a href="/multiply/">Multiplication</a></li>
                                <li class="active"><a href="/divide/">Division</a></li>
                                </ul>
                </div>
        </header>

        <section>

    <h1>You answered all the questions correctly</h1>
    <h2>Well done you</h2>

    <div class="images">
    <a href="/subtract/">
            <img src="{{ url_for('static', filename='anotherquiz.png') }}" width = "200" height = "200">
    </a>

    </div>
        </section>
</body>
</html>
